# ignore everything unless i told you otherwise
*

# tracked files
!.gitignore
!*.h
!*.hpp
!*.c
!*.cpp
!*.js

# files in subdirectories
!*/

# ws node package
*./ws/.*

# CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
